/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');
}

:root {
  --font-source-sans: 'Source Sans 3', sans-serif;
}

* {
  font-family: var(--font-source-sans);
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: var(--font-source-sans), sans-serif;
}

.app {
  display: flex;
  position: relative;
}

